<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeTravelMap"
        tools:targetApi="31">
        <activity
            android:name=".DetalleReincidenciaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarReincidenciaActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleGaleriaTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialesActivity"
            android:exported="false" />
        <activity
            android:name=".IngresoTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".NuevoTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".DesperfectoActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".SistemaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjynErAHv4RNpcKaa9c6cin4kfYf9G8Wg" />
    </application>

</manifest>